<!DOCTYPE html>
<html>
  <head>
    <meta lang="en">
    <title>Social Circles</title>
    <link rel="icon" href="./images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <% if (user && darkMode) { %>
      <link id="darkcss" rel="stylesheet" href="/css/styleDark.css">
    <% } %>
    <script src="/js/home.js" defer="defer"></script>
    <script src="./js/adminCommands.js"></script>
  </head>

  <body>
    <!-- HIDDEN IMAGES FOR GAME UI -->
    <!-- We'll need to be able to render the character images in the game. To do that, we
      can load them into the DOM by putting them in a hidden div. This way, they get
      processed and can be referenced in home.js. -->
      <div id="characterImageStorage" style="display: none;">
        <!-- characterImages should be an array of strings which are the paths to the images -->
        <% for (let i = 0; i < characterImages.length; i++){ %>
            <img src="<%-characterImages[i]%>">
        <% } %>
    </div>

    <div id="uiImageStorage" style="display: none;">
        <!-- UIImages should be an array of strings which are the paths to the images -->
        <% for (let i = 0; i < uiImages.length; i++){ %>
            <img src="<%-uiImages[i]%>">
        <% } %>
    </div>

    <header>
      
      <h1 class="header-title">SOCIAL CIRCLES</h1>
      
      <div class="header-nav">
        <a class="button" href="/logout">Logout</a>

        <a class="button" href="/instructions">Instructions</a>

        <a class="button" href="/characters">Characters</a>

        <a class="button" href="/leaderboard">Leaderboards</a>

        <a class="<%= user ? 'button' : 'button-guest' %>" href="/account">Account Settings</a>
      </div>
    </header>

    <main id="homeMain">
      <div id="home-container">
        <canvas id="gameCanvas" width="700" height="500"></canvas>
        
        <div class="home-leaderboard">
          <h1 class="leaderboard-title">Leaderboard</h1>
          
          <ol class="leaderboard-list">
            <% leaderboardPlayers.forEach((player)=>{ %>
              <li>
                <div class="<%=user && user===player.name ? 'leaderboard-user' : 'leaderboard-entry'%>">
                  <span class="leaderboard-text"><%= player.name %></span>
                  
                  <span class="leaderboard-text"><%= player.score %></span>
                </div>
              </li>
            <% }) %>
            
            <% if (user && yourRank>10) { %>
            <li value="<%= yourRank %>">
                <div class="leaderboard-user">
                  <span><%= user %></span>
                  
                  <span><%= yourScore %></span>
                </div>
              </li>
            <% } %> 
          </ol>  
        </div>
      </div>
      
     
      
    </main>


    <footer id="homeFooter">
      <p>Horn Studios:</p>
      <div id="devs">
        <a id="zachHub" href="https://github.com/Zachary-Weiss/">Zach Weiss</a>
        <a id="henryHub" href="https://github.com/henryhafner/">Henry Hafner</a>
        <a id="chaseHub" href="https://github.com/3chase/">Chase Hays</a>
      </div>
      <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="HornStudios" data-color="#cd9d59" data-emoji="ðŸº"  data-font="Cookie" data-text="Donate to the team" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFDD00" ></script>
    </footer>
  </body>
</html>
