<!DOCTYPE html>
<html>
  <head>
    <meta lang="en">
    <title>Social Circles</title>
    <link rel="stylesheet" href="/css/style.css">
    <% if (user && darkMode) { %>
      <link rel="stylesheet" href="/css/styleDark.css">
    <% } %>
    <script src="/js/home.js" defer="defer"></script>
    <script src="/js/admin.js"></script>
  </head>
  <body>

    <!-- HIDDEN IMAGES FOR GAME UI -->
    <!-- We'll need to be able to render the character images in the game. To do that, we
      can load them into the DOM by putting them in a hidden div. This way, they get
      processed and can be referenced in home.js. -->
      <div id="characterImageStorage" style="display: none;">
        <!-- characterImages should be an array of strings which are the paths to the images -->
        <% for (let i = 0; i < characterImages.length; i++){ %>
            <img src="<%-characterImages[i]%>">
        <% } %>
    </div>
    <div id="uiImageStorage" style="display: none;">
        <!-- UIImages should be an array of strings which are the paths to the images -->
        <% for (let i = 0; i < uiImages.length; i++){ %>
            <img src="<%-uiImages[i]%>">
        <% } %>
    </div>



    <header>
      <h1>SOCIAL CIRCLES</h1>
      <img id="profileButton" src="https://m.media-amazon.com/images/M/MV5BMzgzMzY2MmMtMWNkNy00ZjVkLWIxOWUtZDJjODNmY2IyOWFiXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg" width="100" height="100">
    </header>
    <main id="homeMain">
      <canvas id="gameCanvas" width="700" height="500" style="border: 5px solid black;"></canvas>
      <div id="leaderboardHolder">
        <h2>Leaderboard</h2>
        <ol>
          <% for (let i = 0; i < leaderboardPlayers.length; i++) { %>
            <li>
              <span class="leaderboardName"><%= leaderboardPlayers[i].name %></span>
              <span class="leaderboardScore"><%= leaderboardPlayers[i].score %></span>
            </li>
          <% } %>
        </ol>
        <% if (user) { %>
          <div class="yourRank">
            <h2>Your Rank: <%= yourRank %></h2>
          </div>
          <div class="yourScore"> <!--Shouldn't this be high score? Score is rendered in the game canvas-->
            <h2>Your Score: <%= yourScore %></h2>
          </div>
          <!-- Friend Leaderboard -->
          <div class="friendLeaderboard">
            <h2>Friend Leaderboard</h2>
            <ol>
              <% for (let i = 0; i < friendLeaderboard.length; i++) { %>
                <li>
                  <span class="leaderboardName"><%= friendLeaderboard[i].name %></span>
                  <span class="leaderboardScore"><%= friendLeaderboard[i].score %></span>
                </li>
              <% } %>
            </ol>
          </div>
        <% } %>  
      </div>
      
      <a href="/characters">to character page</a>
      
      <!-- Only show account settings if a user is logged in -->
      <% if (user) { %>
        <div class="auth-actions">
          <div>
            <a href="/account">Account Settings</a>
            <br>
          </div>
        </div>
      <% } %>
      
    </main>
  </body>
</html>
