<%- include('../partials/head', { title }) %>
<%- include('../partials/header') %>

<main>
    <section class="hero-section">
        <div class="hero-content">
          <h1><%= title %></h1>
          <p><%= description %></p>
        </div>
        <div class="hero-image">
          <img src="/images/cook.jpg" alt="Chase's Cooking Hero Image">
        </div>
`   </section>
</main>

<%- include('../partials/footer') %>